form {
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 10%;
}

.texto {
    text-align: left;
}

img {
    align-items: center;
    justify-content: center;
}

a {
    align-items: center;
    justify-content: center;
}

body {
    background-color:gainsboro;

}
.container-div{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

button {
    margin-top: 10px;
}